body {
    background-color: #222222;
    padding: 0;
    margin: 0;
    border: none;
    animation-name: fadin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition-property: opacity;
    transition-duration: 1s;
}

h1 {
    font-family: impact;
    font-size: 70px;
    color: #bcdfeb;
    text-align: center;
    font-weight: 500;
}

h2 {
    font-family: cambria;
    font-size: 40px;
    color: #98a0a3;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-family: verdana;
    font-size: 25px;
    color: #51737e;
    text-align: center;
    font-weight: 400;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: #4a7e8f;
    text-align: center;
    font-weight: 300;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    background-color: transparent;
}

.link {
    text-decoration: none;
    color: inherit;
}

.rounded {
    border-radius: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

div.headerLink {
    background-color: #333333;
    transition-property: background-color;
    transition-duration: 0.5s;
}

div.headerLink:hover {
    background-color: #444444;
}

@keyframes fadin {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}