body {
    background-color: #222222;
    padding: 0;
    opacity: 0.0;
    margin: 0;
    border: none;
    transition-property: opacity;
    transition-duration: 1s;
}

h1 {
    font-family: impact;
    font-size: 70px;
    color: #bcdfeb;
    text-align: center;
    font-weight: 500;
}

h2 {
    font-family: cambria;
    font-size: 40px;
    color: #98a0a3;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-family: verdana;
    font-size: 25px;
    color: #51737e;
    text-align: center;
    font-weight: 400;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: #4a7e8f;
    text-align: center;
    font-weight: 300;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    background-color: transparent;
    display: block;
}

table {
    width: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
}

.rounded {
    border-radius: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    padding: 0;
    border: none;
}

div#content {
    background-color: transparent;
    width: 75%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.3s;
    width: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    max-height: 150px;
}

div.headerLink {
    background-color: #333333;
    transition-property: background-color;
    transition-duration: 0.5s;
}

div.headerLink:hover {
    background-color: #444444;
}

div#footer {
    border-top: 5px double #343435;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 75%;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.3s;
    font-family: monospace;
    text-align: center;
    word-wrap: break-word;
    color: #6e6e6e;
    font-size: 15px;
}

div.contentSection {
    border-top: #343435 5px double;
    padding-top: 10px;
}

@keyframes fadin {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}